header{
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 5rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 7rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
    .cta {
        margin-top: 2.5rem;
    }
    .me {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }

    .cta{
        margin-top: 1.5rem;
    }

    .me{
        margin-top: 2rem;
    }

    .header_socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        gap: 2rem;
        bottom: 1rem;
    }

    .header_socials::after {
        content: "";
        width: 0;
        height: 0;
    }

    .scroll_down{
        display: none;
    }
}